* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 70px;
  padding-top: 30px;
  overflow-x: hidden;
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.shoping-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.shop a {
  text-decoration: none;
}

.shop a button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b388eb;
  color: white;
  border: 1px solid #8093f1;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
}

.products-gallery {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 250px;
}

.product-name {
  font-size: 36px;
  font-weight: 700;
  color: #006d77;
  text-transform: capitalize;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 28px;
  font-weight: 500;
  color: #ff9f1c;
}

.add-to-cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-to-buy {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}

.quantity-to-buy .error {
  width: 100%;
  text-align: left;
}

.quantity-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-input button {
  color: #73ba9b;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 20px;
  height: 25px;
  text-align: center;
}

.quantity-input input {
  text-align: center;
  font-size: 16px;
  outline: none;
  width: 30px;
  height: 30px;
  border: 1px solid #6e6f7a;
  border-radius: 5px;
  color: #000;
  text-align: center;
  padding: 0;
}

.quantity-input input::-webkit-inner-spin-button,
.quantity-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input input[type="number"] {
  -moz-appearance: textfield;
}

.cart-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart-btn button {
  border: 1px solid #00241b;
  background-color: #65b891;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-btn button i {
  font-size: 20px;
  color: white;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid grey;
  border-radius: 15px;
  min-width: 350px;
  min-height: 400px;
  box-sizing: border-box;
  padding: 30px;
}

.cart-title {
  font-size: 42px;
  font-weight: 700;
  color: #e01e37;
  text-align: center;
  width: 100%;
}

.fa-cart-shopping {
  font-size: 42px;
  color: #8093f1;
}

.added-product-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
}

.bag-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bag-product-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.shop-info .prod-name {
  font-size: 22px;
  font-weight: 600;
  color: #252422;
}
.shop-info p {
  text-transform: capitalize;
  font-size: 20px;
  margin: 0;
}

.shop-info button {
  border: none;
  background-color: #e5e5e5;
  cursor: pointer;
}

.shop-info button i {
  font-size: 20px;
  color: #16965e;
}

.value {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value p {
  font-size: 24px;
  font-weight: 600;
}

.total {
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  text-align: end;
  color: #ef476f;
}

.cart-action {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-action button {
  border: none;
  outline: none;
  cursor: pointer;
}

.fa-square-xmark {
  font-size: 22px;
  color: red;
}

@media (width <= 1200px) {
  body {
    padding: 50px;
  }
}

@media (width <= 1080px) {
  body {
    padding: 30px;
  }
}

@media (width <= 1030px) {
  .shoping-products {
    flex-direction: column;
  }
}

@media (width <= 650px) {
  body {
    padding: 30px;
  }
}
