* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 30px;
}

#root {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 50px;
}

.login-page {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.signin-form {
  width: 100%;
  margin-left: 200px;
}

.signin-form h1 {
  font-size: 56px;
  color: #457b9d;
  margin-bottom: 30px;
  margin-left: 100px;
}

.input-group {
  position: relative;
  height: 55px;
  margin-bottom: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 100%;
  border: 1px solid #e5e5e5;
  outline: none;
  background: #fff;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 20px;
}

::placeholder {
  opacity: 0;
}

.input-group > label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  font-size: 16px;
  background: #fff;
  padding: 0 12px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.input-group > input:focus + label,
.input-group > input:not(:placeholder-shown) + label {
  top: 0;
  left: 5px;
  font-size: 12px;
  color: #1b4965;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.input-group > input:focus {
  border-width: 2px;
  border-color: #1b4965;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-footer > button {
  border: 2px solid #1b4965;
  outline: none;
  background-color: #1b4965;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 100px;
}

.form-footer > button:hover {
  transform: scale(0.9);
  background: #fff;
  color: #1b4965;
}

.login-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  padding: 15px;
  color: white;
  background-color: #1d3557;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.action p {
  font-size: 38px;
  font-weight: 600;
  margin: 0;
  color: #4c956c;
}

.action a {
  text-decoration: none;
}

.action a button {
  font-size: 28px;
  font-weight: 600;
  padding: 12px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #06dd58;
  cursor: pointer;
}

.products-management {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.log-out {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.log-out button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #343a40;
  background-color: #e9ecef;
  border: 1px solid #212529;
  border-radius: 10px;
  cursor: pointer;
}

.log-out button i {
  margin-left: 5px;
}

.add-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.add-products h1 {
  font-size: 48px;
  text-transform: uppercase;
  color: #1d3557;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.input label {
  font-size: 22px;
  font-weight: 600;
}

.input input {
  box-sizing: border-box;
  width: 350px;
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 10px;
}

.input select {
  box-sizing: border-box;
  width: 350px;
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 10px;
}

.form-action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 14px;
  color: red;
}

.form-action button {
  font-size: 22px;
  font-weight: 600;
  background-color: #c1121f;
  border: none;
  color: #efe6e3;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.edit-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.edit-btns .save {
  font-size: 22px;
  font-weight: 600;
  background-color: #0077b6;
  border: none;
  color: #caf0f8;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.edit-btns .cancel {
  font-size: 22px;
  font-weight: 600;
  background-color: #c1121f;
  border: none;
  color: #fdf0d5;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.view-products {
  background-color: #003554;
  color: #a9d6e5;
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  align-self: center;
  width: 100%;
}

.products {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.products-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.products-title {
  font-size: 42px;
  color: #e63946;
}

.product-card {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #d62828;
  border-radius: 10px;
  font-size: 22px;
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #1d3557;
}

.product-info .name {
  width: 100%;
  font-size: 34px;
  font-weight: 600;
  color: #4a7c59;
  text-align: center;
}

.product-info p {
  margin: 0;
}

.product-info p span {
  font-weight: 600;
}

.add-stock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quantity {
  display: flex;
  border: 2px solid #ee6c4d;
  border-radius: 4px;
  overflow: hidden;
}

.quantity button {
  background-color: #ee6c4d;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: 25px;
  text-align: center;
}

.quantity button:hover {
  background-color: #ee6c4d;
}

.quantity input {
  width: 30px;
  height: 25px;
  text-align: center;
  border: none;
  font-size: 18px;
  padding: 0 8px;
  outline: none;
}

.quantity input::-webkit-inner-spin-button,
.quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity input[type="number"] {
  -moz-appearance: textfield;
}

.add-quantity {
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #1d3557;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.product-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.product-actions button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.fa-pen-to-square {
  font-size: 24px;
  color: #457b9d;
}

.fa-trash {
  font-size: 24px;
  color: red;
}

.fa-circle-check {
  font-size: 24px;
  color: #06dd58;
}

.fa-circle-xmark {
  font-size: 24px;
  color: red;
}

.add-cart {
  border: none;
  font-size: 20px;
  font-family: 600;
  color: white;
  background-color: #06dd58;
  padding: 5px 10px;
  border-radius: 10px;
}

@media (width <= 1240px) {
  .signin-form {
    margin-left: 100px;
  }
}

@media (width <= 1080px) {
  .signin-form {
    margin-left: 0px;
  }
}

@media (width <= 930px) {
  .login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }

  .signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .signin-form h1 {
    margin: 0;
    margin-bottom: 20px;
  }

  .input-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .input-group > input {
    left: auto;
  }

  .input-group > label {
    left: 190px;
    text-align: left;
  }

  .input-group > input:focus + label,
  .input-group > input:not(:placeholder-shown) + label {
    top: 0;
    left: 190px;
  }

  .form-footer > button {
    margin: 0;
  }
}

@media (width <= 834px) {
  .input-group > label {
    left: 145px;
    text-align: left;
  }

  .input-group > input:focus + label,
  .input-group > input:not(:placeholder-shown) + label {
    top: 0;
    left: 145px;
  }

  .form-footer > button {
    margin: 0;
  }
}

@media (width <= 768px) {
  .input-group > label {
    left: 110px;
    text-align: left;
  }

  .input-group > input:focus + label,
  .input-group > input:not(:placeholder-shown) + label {
    top: 0;
    left: 110px;
  }

  .form-footer > button {
    margin: 0;
  }
}

@media (width <= 650px) {
  body {
    padding: 30px;
  }
}

@media (width <= 570px) {
  .input {
    flex-direction: column;
  }
}

@media (width <= 480px) {
  .input-group > input {
    width: 300px;
  }
  .input-group > label {
    left: 10px;
    text-align: left;
  }

  .input-group > input:focus + label,
  .input-group > input:not(:placeholder-shown) + label {
    top: 0;
    left: 10px;
  }

  .form-footer > button {
    margin: 0;
  }
}

@media (width <= 460px) {
  .add-products h1 {
    font-size: 42px;
  }
}
